
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@304;400&display=swap');


*{margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

body{
    background-image:url(images/background.png);
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:0 30px;
}
.conteiner{
    max-width:620px;
    width:100%;

}


.content{
    border: 4px solid rgba(20, 220, 87, 0.514);
    border-radius:4px;
    text-align:center;
    position:relative;    
}


a{
    text-decoration: none;
    display: flex;
    justify-content:center;
    gap:8px;
    align-items: center;
    margin-bottom:16px;
    padding:8px;

}

img{
 border-radius: 35px;
 transition:width,0.5s;
}


a img{width:8%;
    position:relative;
    transition: width 0.3s;
}

a img:hover{width:13%;    
}
img:hover
{width: 50%;}